*.swp
*.pyc
*.pkl
*.py~
.pytest_cache
.DS_Store
.idea

# Setuptools distribution and build folders.
/dist/
/build
keys/

# Virtualenv
/env


*.sublime-project
*.sublime-workspace

.idea

logs/

.ipynb_checkpoints
ghostdriver.log

htmlcov

junk
src

*.egg-info
.cache

MUJOCO_LOG.TXT
*.lan
*.txt
*.csv
*.json
*.xls
.models/FetchReach_5k_her
.models/FetchReach_10k_her
.models/FetchPush_5k_her
.models/FetchPush_50k_her
.models/FetchReach_10k_her
.models/FetchReach_10k_her
.models/FetchReach_5k_her
.models/FetchReach_5k_her
.models/FetchReach_5k_her
.models/FetchReach_5k_her
.log/FetchReach/5k/layers_5-2019-10-21-10-09-21/tb/events.out.tfevents.1571645377.RRMBP
.log/FetchReach/5k_test1/3_layers-2019-10-21-10-32-48/tb/events.out.tfevents.1571646778.RRMBP
.log/FetchReach/5k_test1/layers_5-2019-10-21-10-27-32/tb/events.out.tfevents.1571646468.RRMBP
*.md
*.png
*.png
*.png
baselines/gail/result/HalfCheetah-normalized-deterministic-scores.png
*.png
.models/FetchReach/3_layers
.models/FetchReach/3_layers
